#app3{

}
#app3 .square{
    border:1px solid darkseagreen;
    width:8vw;
    height:8vw;
    margin-top: 6vw;
    margin-left:6vw;
    transition: transform 1s;
}
#app3 .square.active{
    transform: translateX(20vw);
    border-radius:50%;
}